body{
  background-color: #e4fde1;
}

div {
  padding: 0px 1px 1px 1px;
  color: white;
  text-align: center;
}

h1{ 
  background-color: #ff9b71;
  font-family: "Times new roman" , cursive;
  margin: 0px;
  border-radius: 55px;
}
h2{
  background-color: #ffdc7d;
  color:#6ba292;
  padding: 0cm 2cm 0cm 2cm;
  margin:0; 
  border-radius: 55px;
}

h3{
  background-color: #ffdc7d;
  border: 2px #6ba292;
  border-radius: 55px;
  padding: 0cm 2cm 0cm 2cm;
  text-align: justify;
}

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0px;
  background-color: #ffdc7d;
  border-radius: 55px;
  
}
li a{
  color: black;
  text-decoration: none;
}

li {
  float: left;
  
}
.container { 
    display: flex; 
    justify-content: space-between; 
    padding: 10px;
} 

.active{
  background-color: #6ba292;
  padding: 2% 2cm 2% 2cm;
  border-radius: 55px;
}

.column {
  float: left;
  width: 31%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  border: 10px solid #6ba292;
  border-radius: 55px;
  padding: 0px;
  margin: 0px;
  
}


a {
  color: black;
  text-decoration: none;
}